<h1>About Chicago Bucket List</h1>
<p>
	<%= link_to "Chicago Bucket List", "http://www.imdb.com/title/tt0825232/"%>
	is a project I've been working on to learn
	<%= link_to "Ruby on Rails", "http://rubyonrails.org"%>
	.  It's kind of a big deal.
</p>
