	<div class="footer">
		<small>
	My first web app using
	<%= link_to "One Month Rails", "http://onemonthrails.com"%>
	by <%= link_to "Charles Whittaker", "https://www.facebook.com/charles.whittaker" %>
		</small>

	</div>